@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Raleway&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    overflow-x: hidden;
}

nav {
    width: 100%;
    height: auto;
    z-index: 1000;
    padding: 30px 0px;
    position: sticky;
    top: 0;
}

nav .container .row {
    display: flex;
    width: 100%;
    align-items: center;
}

nav .logo h2 {
    color: #7d7463;
    font-size: 1.5rem;
    font-weight: bolder;
}

nav .nav_menu {
    display: flex;
    justify-content: center;
    margin: 0;
}

nav .nav_menu ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-bottom: 0;
}

nav .nav_menu a {
    color: #7d7463;
    font-weight: 700;
    margin: 0rem 0.5rem;
    text-decoration: none;
}

nav .nav_actions {
    display: flex;
    justify-content: end;
}

.nav_actions a {
    text-decoration: none;
}

nav .nav_actions .nav_btn {
    width: 100px;
    padding: 5px 1px;
    display: flex;
    color: #7d7463;
    font-weight: 300;
    align-items: center;
    justify-content: center;
    border: 1px solid #7d7463;
}

nav .nav_actions .nav_btn:hover {
    transition: all 0.5s ease-in-out;
    color: #fff;
    background-color: #7d7463;
}

nav .hamburger {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* Sidebar Starts */

.sidebar_toggle {
    width: 32px;
    height: 38px;
    position: relative;
    cursor: pointer;
    padding-top: 3px;
    margin-left: 30px;
}

.sidebar_toggle span {
    display: block;
    box-sizing: border-box;
    background-color: #7d7463;
}

.sidebar_toggle .toggle_btn {
    position: absolute;
    height: 100%;
    width: 100%;
}

.sidebar_toggle .toggle_btn span {
    width: 100%;
    height: 2px;
    position: relative;
    top: 0;
    left: 0;
    margin: 6px 0;
    transition: width ease 0.25s;
}

.sidebar_toggle .toggle_btn span:nth-child(1) {
    transition-delay: 0.5s;
    width: 100%;
}

.sidebar_toggle .toggle_btn span:nth-child(2) {
    transition-delay: 0.625s;
    width: 75%;
}

.sidebar_toggle .toggle_btn span:nth-child(3) {
    transition-delay: 0.5s;
    width: 100%;
}

.sidebar_toggle .cross {
    position: absolute;
    height: 34px;
    width: 34px;
    transform: rotate(45deg);
    left: -2px;
    top: 2px;
}

.sidebar_toggle .cross span:nth-child(1) {
    height: 0%;
    width: 2px;
    position: absolute;
    top: 0;
    right: 16px;
    transition-delay: 0s;
    transition: height ease 0.25s;
}

.sidebar_toggle .cross span:nth-child(2) {
    width: 0%;
    height: 2px;
    position: absolute;
    left: 0;
    top: 16px;
    transition-delay: 0.25s;
    transition: width ease 0.25s;
}

.sidebar_toggle.open .toggle_btn span {
    width: 0%;
}

.sidebar_toggle.open .toggle_btn span:nth-child(1) {
    transition-delay: 0s;
}

.sidebar_toggle.open .toggle_btn span:nth-child(2) {
    transition-delay: 0.125s;
}

.sidebar_toggle.open .toggle_btn span:nth-child(3) {
    transition-delay: 0.25s;
}

.sidebar_toggle.open .cross span:nth-child(1) {
    height: 100%;
    transition-delay: 0.625s;
}

.sidebar_toggle.open .cross span:nth-child(2) {
    width: 100%;
    transition-delay: 0.375s;
}

.sidebar {
    display: flex;
    align-items: center;
    width: 70%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: -70%;
    color: white;
    z-index: 1001;
    background-color: #7d7463;
    transition: left 0.3s ease-in-out;
}

.sidebar .logo img {
    width: 160px;
    margin-left: -20px;
}

.sidebar ul li {
    list-style-type: none;
    font-size: 20px;
    font-weight: 500;
    margin: 5px 0px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    transition: color 300ms ease;
}

.sidebar ul li a:hover {
    color: #212529;
    text-decoration: none;
}

.sidebar ul p {
    font-size: 12px;
    margin-top: 25px;
}

.sidebar.open {
    left: 0;
    transition: left 0.3s ease-in-out;
}

.site_wrapper {
    transition: filter 0.3s ease-in-out;
}

.sidebar.open~.site_wrapper {
    filter: blur(8px);
}

/* Sidebar Ends */

/* Header Starts */

header {
    width: 100%;
    height: auto;
    padding: 3rem 0rem;
    position: relative;
    background-image: url("../images/wave2.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

header .container .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

header .hero_content {
    display: flex;
    align-items: center;
}

header .hero_content h3 {
    font-weight: 700;
    font-size: 4rem;
}

header .hero_content .hero_btn {
    display: flex;
    color: #7d7463;
    justify-content: center;
    width: 200px;
    padding: 15px;
    margin-top: 10px;
    border: 2px solid #7d7463;
}

header .hero_content .hero_btn:hover {
    transition: all 0.5s ease-in-out;
    border: 2px solid #7d7463;
    color: #fff;
    background-color: #7d7463;
}

header .hero_content a {
    font-weight: 500;
    text-decoration: none;
    color: #212529;
}

header .hero_img {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 20px;
    justify-content: end;
}

header .hero_img img {
    width: 100%;
    max-width: 350px;
}

header .hero_wave {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0;
    z-index: -10;
}

header .container .row:nth-child(2) {
    width: 100%;
    display: flex;
    justify-content: center;
}

header .container .row:nth-child(2) a {
    margin-top: 5rem;
    width: fit-content;
    text-decoration: none;
    color: #7d7463;
}

header .container .row:nth-child(2) .scroll_btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

@media only screen and (max-width: 768px) {
    header {
        min-height: 80vh;
    }

    header .hero_img {
        right: 0px;
    }
}


/* Header Ends */
body.open {
    overflow-y: hidden;
}


/* Highlights Start */
#services {
    margin-top: 3rem;
}

.service_heading {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 130px;
}

.service_heading h2 {
    font-size: 1.5rem;
    z-index: 1;
}

.service_heading h2 span {
    color: #fff;
    background-color: #7d7463;
    padding: 2px;
}

.highlights {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0px 20px 0px;
    position: relative;
}

.highlights .row {
    --bs-gutter-x: 0rem;
    justify-content: center;
    position: relative;
}

.highlights .highlight_wrapper {
    display: flex;
    position: relative;
}

.highlights .highlight_card {
    position: sticky;
    overflow: hidden;
    top: 200px;
    width: 350px;
    height: auto;
    padding: 20px;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #e8e8e8;
    transition: all 300ms ease-in-out;
}

.highlights .highlight_card::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #A8A196;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    will-change: transform;
    transition: all 0.25s ease-in-out;
    box-shadow: 0 30px 30px #eee;

}

@media only screen and (min-width: 1195px) {
    .highlights .highlight_card:hover:before {
        transform: scale(1.05);
        opacity: 1;
    }

    .highlights .highlight_card:hover {
        border: 0px solid #A8A196;
    }

    .highlights .highlight_card:hover:after {
        opacity: 1;
    }
}

@media only screen and (max-width: 1195px) {
    .highlights .highlight_card {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
}

.highlights .highlight_card::after {
    content: "";
    width: 30%;
    height: 70px;
    position: absolute;
    bottom: -25px;
    right: -25px;
    background-image: url(../images/pattern-dot.png);
    opacity: 0;
    background-size: 12px 12px;
    transition: all 0.25s ease-in-out;
}

.highlights .highlight_card .heading {
    font-size: 28px;
    margin: 20px 0px;
}

.highlights .highlight_card .heading {
    font-size: 28px;
    margin: 20px 0px;
}

.highlights .highlight_card .desc {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.highlights .highlight_card button {
    width: 50px;
    height: 50px;
    background-color: #000;
    color: #fff;
    border-radius: 8px;
    border-width: 0px;
}

.highlights .content .icons {
    font-size: 30px;
    margin: 10px 0px;
}

/* Highlights End */

/* Projects Starts */
#projects {
    margin-top: 3rem;
}

.project_heading {
    display: flex;
    justify-content: center;
}

.project_heading h2 {
    font-size: 1.5rem;
    z-index: 1;
}

.project_heading h2 span {
    color: #fff;
    background-color: #7d7463;
    margin: 0px 4px;
    padding: 3px;
}

#projects .container {
    display: flex;
    justify-content: center;
}

#projects .container .row {
    display: flex;
    width: 100%;
    justify-content: center;
}

.project_gallery {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 4vw);
    grid-gap: 10px;
    margin-top: 3rem;
}

.gallery_item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: relative;
    transition: all 300ms ease-in;
}

.gallery_item::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0%;
    transition: all 300ms ease-in;
}


.gallery_item:hover::before {
    opacity: 50%;
}

.gallery_item .content {
    opacity: 0%;
    color: #fff;
    text-align: center;
    font-size: 0.7rem;
    z-index: 1;
    transition: all 300ms ease-in;
}

.gallery_item:hover>.content {
    opacity: 100%;
}

.gallery_item_1 {
    background-image: url(../images/project_2.jpg);
    background-size: cover;
    background-position: center;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 7;
}

.gallery_item_2 {
    background-image: url(../images/project_9.jpg);
    background-size: cover;
    background-position: center;
    grid-column-start: 5;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 4;
}

.gallery_item_2_1 {
    background-image: url(../images/project_8.jpg);
    background-size: cover;
    background-position: center;
    grid-column-start: 10;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 4;
}

.gallery_item_3 {
    background-image: url(../images/project_3.jpg);
    background-size: cover;
    background-position: center;
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 4;
    grid-row-end: 7;
}

.gallery_item_4 {
    background-image: url(../images/project_7.jpg);
    background-size: cover;
    background-position: center;
    grid-column-start: 8;
    grid-column-end: 13;
    grid-row-start: 4;
    grid-row-end: 6;
}

.gallery_item_5 {
    background-image: url(../images/project_5.jpg);
    background-size: cover;
    background-position: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 10;
}

.gallery_item_6 {
    background-image: url(../images/project_6.jpg);
    background-size: cover;
    background-position: center;
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 7;
    grid-row-end: 10;
}

.gallery_item_7 {
    background-image: url(../images/project_4.jpg);
    background-size: cover;
    background-position: center;
    grid-column-start: 8;
    grid-column-end: 13;
    grid-row-start: 6;
    grid-row-end: 10;
}

.more_pj {
    display: flex;
    justify-content: center;
}

.more_pj .project_btn {
    display: flex;
    color: #7d7463;
    justify-content: center;
    width: fit-content;
    height: auto;
    padding: 10px;
    border: 2px solid #7d7463;
    transition: all 300ms ease-in;
}

.more_pj .project_btn:hover {
    background-color: #7d7463;
    color: #fff;
}

.projects_mob .row {
    display: flex;
    margin-bottom: 20px;
}

.project_img img {
    width: 100%;
    max-width: 700px;
}

.projects_mob .project_content {
    padding: 10px;
}

.projects_mob .action_btn {
    width: fit-content;
    border-bottom: 2px solid #212529;
}

.projects_mob .action_btn a {
    text-decoration: none;
    color: #000;
}

.more_pj a {
    text-decoration: none;
}

/* Projects End */


/* about us starts */

.container-fluid {
    padding: 0px;
    margin: 0px;
}

.aboutus_main .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 10;
}

.row>* {
    padding-right: 0px;
}

.aboutus_main {
    margin: 0px auto;
}

.image_pt {
    position: relative;
    width: 100%;
    height: 260px;
    background-image: url(../images/aboutus3.jpg);
    background-size: cover;
    background-position: 0px 50%;

}

.image_ln {
    position: relative;
    width: 100%;
    height: 130px;
    background-image: url(../images/aboutus1.jpg);
    background-size: cover;
    background-position: 0px 70%;

}

.ab {
    margin: 0 auto;
}

.image_ln h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    color: #eee;
    width: max-content;
}

.aboutus_title .line {
    background-color: #212529;
    height: 2px;
    width: 100%;
}

.title h1 {
    width: fit-content;
    font-weight: 400;
}

.about_content button {
    width: 120px;
    padding: 5px 0px;
    display: flex;
    color: #212529;
    font-weight: 300;
    align-items: center;
    justify-content: center;
    border: 1px solid #212529;
    background-color: transparent;
}

.about_content button:hover {
    background-color: #212529;
    color: #fff;
    transition: all 0.5s ease-in-out;

}

@media screen and (max-width: 767px) {
    .image_pt {
        height: 200px;
    }

}

/* About Us Ends */

/* assets start */

.company-main {
    width: 100%;
    height: auto;
    padding: 3rem 0px;
    background-color: #7d7463;
    overflow-x: hidden;
    overflow-y: hidden;
}

.workforce-main {
    color: #fff;
}

.workforce p {
    letter-spacing: 1px;
    font-weight: 400;
}

.projects h1 {
    font-size: 70px;
    font-weight: bolder;
    text-transform: capitalize;
}

.projects h5 {
    font-weight: 200;
    font-size: 25px;
}

.projects span {
    font-size: 40px;
}

.numbers {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.numbers .row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}



/* Assets ends */

/* Testimonial Starts */
.testimonial_section {
    width: 100%;
    padding: 30px;
}

.testimonial_heading {
    display: flex;
    justify-content: center;
}

.testimonial_heading h2 {
    font-size: 1.5rem;
    z-index: 1;
}

.testimonial_heading h2 span {
    color: #fff;
    padding: 0px 4px;
    background-color: #7d7463;

}

.testimonial_section .testimonial_card {
    width: 300px;
    padding: 20px;
    min-height: 400px;
    background-color: #fff;
    border-radius: 12px;
    opacity: 0.2;
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.testimonial_section .owl-item.active.center .testimonial_card {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

.testimonial_section .owl-item.active.center {
    display: flex;
    justify-content: center;
}

.testimonial_section .testimonial_card .testimonial_img {
    display: flex;
    justify-content: center;
}

.testimonial_section .testimonial_card .testimonial_img img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.testimonial_section .testimonial_card .testimonial_txt {
    margin-top: 20px;
    text-align: center;
    color: #000;
}

.testimonial_section .testimonial_card .testimonial_txt .testimonial_name {
    font-family: "Ma Shan Zheng", sans-serif;
    font-size: 22px;
    text-align: center;
    font-weight: 500;
}

.testimonial_section .testimonial_card .testimonial_txt .testimonial_name span {
    font-weight: 400;
    font-size: 17px;
}

/* Testimonial Ends */

/* contact starts */
.contact_main {
    height: 700px;
    position: relative;
    padding: 0px;
}

.contact_main .grey_part {
    background-color: #7d7463;
    height: 70%;
}

.contact_main .white_part {
    background-color: #fff;
    height: 30%;
}

.contact_part {
    position: absolute;
    background-color: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.contact_title h1 {
    font-weight: 700;
    font-size: 3rem;
}

.contact_title ul li {
    list-style-type: none;
    padding: 0px 1rem 0px 0px;
    font-size: 1.3rem;
}

.contact_title ul {
    padding-left: 0px;
}

.contact_title .line {
    height: 2px;
    background-color: #7d7463;
}

.contact_main .contact_detial span {
    display: flex;
}

.contact_main .contact_detial span:hover {
    scale: calc(1.04);
    transition: all 0.4s ease-in-out;
}

.contact_main .contact_detial p {
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    width: max-content;
}

.contact_main .contact_detial i {
    padding-right: 1rem;
    font-size: 1rem;
}

.con-img {
    position: relative;
}

.contact_img img {
    width: 90%;
}

.contact_img p {
    text-transform: capitalize;
    letter-spacing: 2px;
    text-align: center;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 1rem 1.5rem;

}

.contact_img .overlay {
    width: 90%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 1;
}

.contact_img .overlay_btn {
    display: flex;
    justify-content: center;
    width: 200px;
    padding: 15px;
    margin-top: 10px;
    border: 2px solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    color: #fff;
    background-color: transparent;
    font-weight: 700;
    text-decoration: none;
}

.con-img .overlay_btn:hover {
    transition: all 0.5s ease-in-out;
    border: 2px solid #fff;
    color: #212529;
    background-color: #fff;
}

@media screen and (max-width: 750px) {
    .contact_main {
        height: 900px;
    }

    .contact_title h1 {
        width: max-content;
    }
}

/* contact ends */

/* Clients Starts */
.client_section {
    width: 100%;
    padding: 30px 0px;
    margin-top: 50px;
    background-color: #7d7463;
}

.client_section .client_logos {
    display: flex;
    justify-content: space-around;
}

.client_section .client_logos img {
    max-width: 10rem;
    opacity: 1;
    transition: all 300ms ease-in;
}

.client_section .client_logos img:hover {
    opacity: 0.5;
}

.client_section .owl-item {
    display: flex;
    justify-content: center;
}

.client_section .row {
    width: 100%;
}

/* Clients Ends */

/* footer */

.footer {
    position: relative;
    margin: 0px;
    padding: 0px;
    background-image: url(../images/multiwave.svg);
}

/* 
.waves {
    position: absolute;
    width: 100%;
    z-index: -1;
    bottom: 0px;
    left: 0;
} */

.row>* {
    padding-left: 0px;
}

.footer .logo_section .logo h2 {
    color: #212529;
    font-size: 1.5rem;
    font-weight: bolder;
}

.footer .logo_section .cta_btn {
    display: flex;
    color: #7d7463;
    justify-content: center;
    width: fit-content;
    height: auto;
    padding: 8px;
    margin-top: 7px;
    border: 2px solid #7d7463;
    transition: all 300ms ease-in;
}

.footer .logo_section .cta_btn:hover {
    background-color: #7d7463;
    border: 2px solid #7d7463;
}

.footer .logo_section .cta_btn:hover>a {
    color: #fff;
}

.footer .logo_section .cta_btn a {
    color: #7d7463;
    font-weight: 700;
    margin: 0rem 0rem;
    text-decoration: none;
}

.footer .motto p {
    font-size: 17px;
    font-weight: 500;
    margin: 0px;
}

.footer .contact_detials span {
    display: flex;
    padding: 10px 0px;
}

.footer .contact_detials {
    display: flex;
    justify-content: space-between;
}

.footer a {
    color: #212529;
    font-weight: 700;
    margin: 0rem 0.5rem;
    text-decoration: none;
}

.footer .menu_page_detials span {
    width: max-content;
}

.footer a i {
    font-weight: 900;
    font-size: 17px;
}

.contact_detials h2,
.menu_page_detials h2 {
    color: #212529;
    font-weight: 700;
    margin: 0rem 0.5rem;
    text-decoration: none;
    font-size: 20px;
    padding-bottom: 8px;
}

.menu_page_detials span {
    padding: 3px 0px;
}

.contact_detials p {
    color: #212529;
    font-weight: 700;
    margin: 0rem 0.6rem;
    text-decoration: none;
}

.contact_detials span:hover {
    scale: calc(1.02);
    transition: all 0.4s ease-in-out;
}

.contact_detials i {
    padding: 0px 5px;
}

.media_links span i {
    color: #212529;
    font-size: 22px;
}

.media_links span:hover {
    scale: calc(1.2);
    transition: all 0.3s ease-in-out;
}

.menu_page_detials span:hover {
    scale: calc(1.04);
    transition: all 0.3s ease-in-out;
}

.media_links span {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
}

.copyright p {
    font-weight: 500;
}

.copyright .line {
    width: 80%;
    height: 1px;
    background-color: #212529;
    margin: 0 auto;
}